<a href="https://colab.research.google.com/github/CamachoDiego/python/blob/main/Copia_de_1_Variables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


#Introduction to Python Notebooks - Google Colab

In Python, you don't have to declare the data type for variables like in other programming languages. When you assign a value to a variable, Python automatically determines its data type based on the assigned value. However, the basic data types in Python are as follows:

1. Integer (int): Represents whole numbers without decimals, such as 5, -10, or 0.

2. Float: Represents numbers with decimal points, such as 3.14, -2.5, or 0.0.

3. String (str): Represents a sequence of characters enclosed in single quotes ('') or double quotes (""). For example, "Hello, World!" or 'Python'.

4. Boolean (bool): Represents either True or False. It is used for logical operations and conditional statements.

5. List: Represents an ordered collection of items enclosed in square brackets ([]). Lists can contain elements of different data types and are mutable (modifiable).

6. Tuple: Similar to lists, tuples are also ordered collections of items, but they are enclosed in parentheses (()). Tuples are immutable (cannot be modified).

7. Dictionary (dict): Represents a collection of key-value pairs enclosed in curly braces ({}). Each value is associated with a unique key, allowing fast retrieval of values.

8. Set: Represents an unordered collection of unique elements enclosed in curly braces ({}). Sets are useful for eliminating duplicate values and performing mathematical set operations.

These are the basic data types in Python, and they provide the foundation for more complex data structures and objects.

In [1]:
a = 2  # Integer type
b = a + 3

f = 0.176  # Float type

condition = True  # Boolean type

s = "Hello"  # String type

In [2]:
type(a) #type function print the variable type

int

In [3]:
type(b)

int

In [4]:
type(f)

float

In [5]:
type(condition)

bool

In [6]:
type(s)

str

What happens if we add an int with a float?

In [7]:
x = b + f
x

5.176

In [8]:
type(x)

float

Another handy tool is the ability to convert data types.
For instance, by converting x to an integer, we obtain only its integer part.

In [9]:
x2 = int(x) #variable casting
x2

5

In [10]:
type(x2)

int

For boolean variables, their representation as integers can be useful for certain applications. The correspondence is as follows:

True $\neq$ 0 (More commonly represented as 1)

False = 0

In [11]:
condicion_int = int(condition)
condicion_int

1

In [12]:
c = 5
condicion_2 = bool(c)
condicion_2

True

In [13]:
c = 0
condicion_2 = bool(c)
condicion_2

False

Two of the main commands used to interact with the console are: print() and input().

The print() command allows us to display variables as well as the text that is provided as an argument on the screen.

In [14]:
print("This is the message to be printed.\nIn this case, it has two lines.") #\n print a new line

This is the message to be printed.
In this case, it has two lines.

In [15]:
print(b)

5

In [16]:
print(condition)

True

On the other hand, the input() command can also display a message on the screen, but it will be displayed before the input field where the value, which will be stored in a string variable, is entered.

In [17]:
y = input("Input a number please: ")
y

Input a number please: 67

'67'

In [18]:
type(y) #note that a str is captured, you need to privide a casting to convert it to a number if needed

str


Basic arithmetic operations:

In [19]:
a = 2 + 4.5 + 3
b = a - 2.5 # . holds decimal operator
b

7.0

In [20]:
a = 3*8 # Multiplication maintains the data type if it is an integer
b = a/6 # Division automatically converts it to a float even if it is exact
a, b

(24, 4.0)

In [21]:
a = 2**2 # ** power operator
a

4

In [22]:
b = 9**(1/2)
b

3.0


This is a way to calculate square roots without using any library.
In general, for more advanced calculations, numpy and sympy are commonly used.

## Exercises


1. Write a program that displays the result of the following arithmetic operation on the screen: $x(t) = \left(\frac{3+2}{2.5}\right)^2$

2. Write a program that asks the user for the number of hours worked and the hourly rate. Then, it should display on the screen the corresponding payment.

3. Write a program that asks the user for their weight (in kg) and height (in meters), calculates the body mass index (BMI), stores it in a variable, and displays the message "Your body mass index is imc" on the screen, where imc is the calculated BMI rounded to two decimal places.

Developed by:

- Brian Patino Agudelo - bpatinoa@unal.edu.co

- Andrés Marino Álvarez Meza - amalvarezme@unal.edu.co

- César Germán Castellanos Domínguez - cgcastellanosd@unal.edu.co

Ejercicio 1

In [23]:
a = 3
b = 2
c = 2.5
x = ((a+b)/c)**2

print (x)

4.0

Ejercicio 2

In [24]:
horas = input("Cuantas horas trabajo: ")
valor = input("valor de la hora: ")
horas = int(horas)
valor = int(valor)
costo = horas * valor
print("el valor total es: ",costo)

Cuantas horas trabajo: 889
valor de la hora: 90
el valor total es:  80010

Ejercicio 3

In [31]:
height = input ("escribe tu altura: ")
height = float(height)
weight = input ("escribe tu peso: ")
weight = float(weight)
imc = weight/(height**2)
print(f"El indice de masa corporal es: {round(imc,2)}")

escribe tu altura: 1.70
escribe tu peso: 72
El indice de masa corporal es: 24.91

In [26]:
imc

0.759493670886076